:root {
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

body {
  background: url(./images/juli-kosolapova-pZ-XFIrJMtE-unsplash.jpg) no-repeat center center
    fixed;
  background-size: cover;

  display: grid;
  grid-template-rows: auto auto 1fr;
  align-items: end;
  height: 100vh;
}

/**********************
* HEADER 
**********************/
header {
  padding: 2rem 0 2rem 0;
}

/* DAILY */
.daily {
  height: 9rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 6.75rem);
  justify-content: center;
  gap: 10rem;
}
.day .avgTemp {
  font-size: 2rem;
  font-weight: 700;
}

/* HOURLY */
.hourly {
  position: absolute;
  visibility: hidden;
  height: 9rem;
  padding-top: 2rem;

  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-content: start;
  gap: 0.5rem;
}
.hour {
  display: grid;
  justify-items: center;

  min-width: 3.7rem;
}
.hour .avgTemp {
  font-size: 1.1rem;
  font-weight: 700;
}
.time {
  font-size: 1.1rem;
}

/* BOTH */
.dayOfWeek {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}
.tempDifference {
  font-size: 0.8rem;
  font-weight: 600;
}
.weatherIcon {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0.5rem;
}

/**********************
* MAIN 
**********************/
/* BUTTONS */
.buttons {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
}

main button {
  background: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.dailyButton,
.hourlyButton {
  width: 6rem;
  height: 2.5rem;

  font-weight: 600;
  font-size: 1.3rem;
}
.dailyButton {
  margin-right: 0.8rem;
  border: 2px solid black;
}
main button:last-child {
  font-weight: 300;
  font-size: 1.2rem;
  width: 7rem;
  margin-left: max(5rem, 7vw);
}

/**********************
* FOOTER 
**********************/
footer {
  padding: 4rem;

  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

/* LEFT */
.left {
  color: wheat;
  padding: 0rem 1rem;

  display: grid;
}
form {
  display: grid;
  gap: 0.5rem;
}
input {
  background: none;
  border: none;
  border-bottom: 3px solid wheat;
  color: wheat;
  font-size: 1.7rem;
  outline: none;
  margin-top: 4rem;
}
output {
  justify-self: end;

  border-radius: 3px;
  padding: 0.3rem;
  color: rgb(255, 94, 94);
  font-weight: bold;
  height: 1.8rem;
}

.left .weatherStatus {
  font-size: 2rem;
}
.left .location {
  margin-top: 1rem;
  font-size: 1.3rem;
}
.left .avgTemp {
  font-weight: bold;
  font-size: 3rem;
}
.left .weatherIcon {
  width: 6rem;
  height: 6rem;
  margin-top: 0;
}

/* RIGHT */
.right {
  padding: 1rem;
}
